{% extends 'distributor/base.html' %}
{% load custom_tags %}

{% block title %}All Tasks{% endblock %}

{% block content %}
{% display_reload_buttons %}


    {% if show_create_button %}
        <form method="GET" action="{% url 'create_task_page' %}">
            <button>Create Task</button>
        </form>
    {% endif %}
    {% block task_creation_content %}
    {% endblock %}





    <h1>Original Tasks</h1>
    {% if show_create_button %}
    {% show_all_tasks %}
    {% endif %}

    <h1>Task Loop Objects</h1>
    {% all_task_loop_objects %}


{% endblock %}