
<style>

{#.display_team_small {#}
{#    background-color: {{ team.color }};#}
{#}#}
</style>

<div style="background-color: {{ team.color }}" class="display_team_small">



    <div class="team_content">
        <div class="team_content_upper_part">
            <div class="team_content_header">
                <h1>{{ team.name }}</h1>
                <div class="team_essential_buttons_container">
                    <form method="POST" action="{% url 'delete_team' team.id %}">
                        {% csrf_token %}
                        <button class="task_essential_button" type="submit">Delete</button>
                    </form>
                    <form method="POST" action="{% url 'edit_team_page' team.id %}">
                        {% csrf_token %}
                        <button class="task_essential_button" type="submit">Edit</button>
                    </form>
                </div>
            </div>
            <div class="team_content_memberships_and_tasks">
                <h3>memberships</h3>
                <ul>
                    {% for membership in memberships %}
                        <li>{{ membership.user.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        {% if user.is_authenticated %}

            <div class="team_join_form_container">
                <form method="POST" action="{% url 'join_team_by_button' team.id %}">
                    {% csrf_token %}
                    <button class="join_team_button">Join Team</button>
                </form>
            </div>
        {% endif %}
    </div>


</div>







