{% extends 'users/base.html' %}
{% load team_tags %}


{% block title %}All Teams{% endblock %}

{% block content %}




    <div class="create_team_form">
        <h1>Create New Team</h1>
        <form method="POST" action="{% url 'create_team' %}">
            {% csrf_token %}
            {{ team_form.as_p }}
            <button type="submit">Create Team</button>
        </form>
    </div>
    
{#    <div class="all_teams">#}
{#        {% for team in all_teams %}#}
{#            <div class="team_listing">#}
{#                <h2>{{ team.name }}</h2>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}



    {% show_all_teams %}


{% endblock %}