

<div class="create_task_form">
        <h2>Current dependencies: </h2>

            {% for dep in task.initial_dependencies.all %}
                <div class="display_dependency_with_button">

                <form method="POST" action="{% url 'delete_dependency' task.id %}">
                    {% csrf_token %}
                    <input name="dep_to_be_removed" value="{{ dep.id }}" type="hidden">
                    <button>Delete</button>
                </form>
                {{ dep.name }}
                </div>
            {% endfor %}

        <h2>Possible dependencies: </h2>
        <div class="select_possible_dependencies">
            <div class="dependency-buttons">
                {% for dep in possible_deps %}
                    {% if dep not in task.initial_dependencies.all %}
                        <form method="POST" action="{% url 'add_dependency' task.id %}">
                            {% csrf_token %}

                            <button name="dep_to_be_added" value="{{ dep.id }}"
                            class="pos_dep_add_button">{{ dep.name }}</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <form method="GET" action="{% url 'display_task' task.id %}">
            <button type="submit">Finish Task</button>
        </form>
    </div>