<div style="background-color: {{ task.team.color }}" class="view_task_container">
    <h1>Name: {{ task.name }}</h1>
    <h2>Team: {{ task.team }}</h2>
    <h2>Loops: {{ task.loops }}</h2>
    <h2>Priority: {{ task.priority }}</h2>
    <h2>Difficulty: {{ task.difficulty }}</h2>
    <h2>Approval Required: {{ task.approval_required }}</h2>


    <h3>Dependencies: </h3>

    <ul>
        {% for dep in task.initial_dependencies.all %}
            <li>{{ dep.name }}</li>
        {% endfor %}
    </ul>
    <div class="task_essential_buttons_container">
        <form method="POST" action="{% url 'delete_task' task.id %}">
            {% csrf_token %}
            <button class="task_essential_button" type="submit">Delete</button>
        </form>
        <form method="GET" action="{% url 'display_task' task.id %}">
            <button class="task_essential_button" type="submit">View</button>
        </form>
        <form method="POST" action="{% url 'edit_task_page' task.id %}">
            {% csrf_token %}
            <button class="task_essential_button" type="submit">Edit</button>
        </form>
    </div>
</div>

