{% extends 'distributor/calender/base.html' %}
{% load custom_tags %}


{% block title %}Process{% endblock %}

{% block content %}
    <div class="create_task_page_container">
<div class="create_process_form">
                    <form method="POST" action="{% url 'create_process' %}">
                        {% csrf_token %}
                        {{ process_form.as_p }}
                        <button type="submit">Create Process</button>
                    </form>
                </div>
    <div class="all_processes_listed_v2">
            {% for process in all_processes %}
                <div class="process_listing_v2">
                    {% display_process process %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}