{% extends 'distributor/base.html' %}

{% block title %}All Tasks{% endblock %}

{% block content %}
    <h1>Tasks</h1>


    {% if show_create_button %}
        <form method="GET" action="{% url 'create_task_page' %}">
            <button>Create Task</button>
        </form>
    {% endif %}
    {% block task_creation_content %}
    {% endblock %}


    {% if show_create_button %}
    <div class="all_tasks">
        {% for task in all_tasks %}
            <div class="task_listing">
                <h2>{{ task.name }}</h2>
                <form method="POST" action="{% url 'delete_task' task.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                <form action="{% url 'add_dependency_page' task.id %}">
                    <button type="submit">Edit Dependencies</button>
                </form>
                <h3>Dependencies: </h3>
                <ul>
                    {% for dep in task.initial_dependencies.all %}
                        <li>{{ dep.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}